<div class="wrapper flex-grow-1"> 
    <footer class="bg-light text-center text-lg-start fixed-bottom ">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: black; color: aliceblue;">
            © 2021 Copyright:
            <a class="text-light" href="https://github.com/lazyLuffy/">jatinadhikari12@gmail.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>